
<div class="mainmenu-wrapper">
    <div class="container">
        <div class="menuextras">
            
        </div>
        <nav id="mainmenu" class="mainmenu">
            <ul>
                <li class="logo-wrapper"><a href="index.html"><img src="../../../assets/Images/VeterinarySystemsLogo.png" alt="Multipurpose Twitter Bootstrap Template"></a></li>
                <li class="active">
                    <a routerLink="/Home" >Home</a>
                </li>
                <li>
                    <a routerLink="/about-us"> About Us</a>
                </li>
                <li class="has-submenu">
                    <a routerLink="/doctor">Are You Doctor?</a>
                    
                </li>
                <li>
                    <a routerLink="/login">LogIn/SingUp</a>
                </li>
            </ul>
            <div>
    
                <select>
                    <option>Select The Location which is near You</option>
                    <option> Ambegaon</option>
                    <option>    Aundh</option>
                    <option>    Baner</option>
                    <option>    Bavdhan Khurd</option>
                    <option>    Bavdhan Budruk</option>
                    <option>     Balewadi</option>
                    <option>    Bhamburde (now called Shivajinagar)</option>
                    <option>   Bibvewadi</option>
                    <option>    Bhugaon</option>
                    <option>    Bhukum</option>
                    <option>    Dhankawadi</option>
                    <option>    Dhanori</option>
                    <option>    Dhayari</option>
                    <option>    Erandwane</option>
                    <option>    Fursungi</option>
                    <option>    Ghorpadi</option>
                    <option>    Hadapsar</option>
                    <option>    Hingne Khurd</option>
                    <option>    Karve Nagar</option>
                    <option>   Kalas</option>
                    <option>    Katraj</option>
                    <option>    Khadki</option>
                    <option>    Kharadi</option>
                    <option>    Kondhwa</option>
                    <option>    Koregaon Park</option>
                    <option>   Kothrud</option>
                    <option>    Manjri</option>
                    <option>    Markal</option>
                    <option>    Mohammed Wadi</option>
                    <option>    Mundhwa</option>
                    <option>    Nanded</option>
                    <option>   Parvati</option>
                    <option>    Panmala</option>
                    <option> Pashan</option>
                    <option>  Pirangut</option>
                    <option>  Shivane</option>
                    <option>   Sus</option>
                    <option>  Undri</option>
                    <option>   Vishrantwadi</option>
                    <option>  Vitthalwadi</option>
                    <option>  Vadgaon Khurd</option>
                    <option>  Vadgaon Budruk</option>
                    <option>    Wadgaon Sheri</option>
                    <option>   Wagholi</option>
                    <option>   Wanowrie</option>
                    <option>   Warje</option>
                    <option>   Yerwada</option>
                </select>
            
                <button type="submit">Search</button>
            </div>
        </nav>
    </div>
</div>
