<span>
<h1>What We can Help With</h1>
<p>Apart from general diagnostic tests, we also provide the following:</p>
<hr class="product-line white-color">

<div>
    <h1>Book Appointment with Our veterinarians in just 3 steps!</h1>
    <hr><br><br>
    <span>
    <table align="center">
        <tr>
            <td>
                <h4>Step1</h4>
    <h5>Tell us about your pet adn yourself.<br> Skip this, if already registerd!</h5>
    <img src="../../../assets/Images/registAnimal.jpg">
</td>
<td>
    <h4>Step2</h4>
    <h5>Set Up a Time that available and<br> Suits you</h5>
    <img src="../../../assets/Images/watch.jpg">
</td>
<td>
    <h4>Step3</h4>
    <h5>Our veterinarian's treats your<br> pet absolutely hassel-free</h5>
    <img src="../../../assets/Images/Veterinary_4.jpg">
</td>
</tr>
</table>
</span>
</div>


<div id="table2">
    <table align="center">
        <br><br>
        <tr>
            <td>
                
                <img src="../../../assets/Images/doctorlog.jpg">
                <h2>Experience,<br>best in town</h2>
    <h5>Our Vets are equipped to handle<br>different health needs with minimum<br>growls.</h5>
    
</td>
<td>
    <img src="../../../assets/Images/convient.jpg">
    <h2>Convenience,<br>
        always
        </h2>
    <h5>No more waiting rooms,<br> 
        cages or uncomfort.<br> You choose the time,<br> Let us meet.</h5>
   
</td>
<td>
    <img src="../../../assets/Images/phone.jpg">
    <h2>Stress,<br>
        no more</h2>
    <h5>Wouldn’t it be better for your pet to<br>
         be treated in a calm, relaxed place?<br> We thought so too.</h5>
    
</td>
</tr>
<br><br>
</table>
</div>
</span>