<form>
    <div class="container">
        <h1>Login</h1>
        <p>Welcome to Login Page.</p>
        <hr>
    
        
    
        <label for="email"><b>Email_Id</b></label>
        <input  type="text" placeholder="Enter Email" name="email" id="email" required>
        <br>
    
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
        <br>
    
        

        <button type="submit" class="btn btn-primary registerbtn">
            Login            
          </button>
      </div>
    
      <div class="container signin">
        <p>No Account? &nbsp;&nbsp;<a routerLink="/registeration">Register Now</a>.<p>
      </div>

      
    </form>


    