<form >
    <div>
      <h1>Doctor Details Submission</h1>
      <p>Not Registered Yet? <a routerLink="/registeration">Register Now</a></p>
      <p>If you are registerd with us then Please fill the details<br> and if you are completed with this step then login directly.
      <a routerLink="/login">Sign In</a></p>
      <hr>
  <label>User Id</label>
  <input type="number" placeholder="User Id" name="uid" id="" required>

  <label>Select Your Highest Degree</label>
  <select>
    <option>Select</option>
    <option>Bachelor of Veterinary Science</option>
    <option>Bachelor of Veterinary Science&Animal Husbandary</option>
    <option>BVSc in Veterinary Medicine, Public Health & Hygiene</option>
    <option>Master of Veterinary Science (MVSc)</option>
    <option>MVSc in Veterinary Medicine</option>
    <option>MVSc in Veterinary Pharmacology & Toxicology</option>
    <option>MVSc in Veterinary Surgery & Radiology</option>
    <option>PhD in Veterinary Medicine</option>
    <option>PhD in Veterinary Pharmacology & Toxicology</option>
    <option>PhD in Veterinary Pathology</option>
  </select><br><br>


  <label>Specialization In or which Pet You Treated Most</label><br><br>
  <select>
    <option>Select</option>
    <option>Cats</option>
    <option>Dogs</option>
    <option>Rabbit</option>
    <option>Caws</option>
    <option>Goat</option>
    <option>Mouse</option>
  </select>


<br><br>
  <label>Experience In Years</label>
  <input type="number" name="experience" id="" required placeholder="Enter Experience">
  
  <label>Bio</label>
  <textarea></textarea>

  <label>Fees </label>
  <input type="number" name="fees" id="" placeholder="Enter Fees you taken" required> 

  <button type="submit" class="registerbtn">Fill All Details & Continue</button>

  <p>Already have an account? &nbsp;&nbsp;<a routerLink="/login">Sign in</a>.</p>
    </div>
</form>