<div>
    <h2>Facts About Animals</h2>
    <h3>What is an Animal?</h3>
    <p>
        Animals are simply defined as the multicellular, eukaryotic, aerobic organisms which
        feed on plants and other animals as their source of food. All these animals reproduc
        -e sexually and live freely in the habitat. Altogether, there are two to three millio
        -ns of animal species and are grouped into the Animal kingdom, which is the largest and most diverse group among
        the five kingdoms of biological classifications. Based on their similarities, characteristic features, and their
        genetic analysis, animals are grouped into Kingdom Animalia.<br>

        In order to study the different types of animals along with their features, taxonomist grouped all animals into
        Kingdom Animalia, which is further divided into divisions and subdivisions. Based on their body structure and
        the presence of the backbone, animals are divided into vertebrates and invertebrates. More than millions of
        invertebrate species are discovered, whereas only fifty to sixty thousands of different vertebrates are
        identified.<br>

        There are different types of animal species available in Animal kingdom or kingdom Animalia, which are further
        classified based on the type of cell, body symmetry, types of reproduction, mode of nutrition, their locomotion
        and their habitat but not classified by their size.<br>

        There are many unfamiliar animal facts. Here are some of the interesting facts about animals.
        <br>
    </p>

    <h3>Interesting Facts about the Animals</h3>
    <p>
        <b>Fact –NO – 1</b><br>

        There are various species of insects existing on this planet earth. On an estimation, the number ranges between
        20 to 30 million.<br>

        <b>Fact –NO – 2</b><br>

        An interesting fact about the cockroaches is, it is the only insect, which can live without their head for more
        than a week.<br>

        <b>Fact –NO – 3</b><br>

        The blue whale is the heaviest and largest mammal in the Animalia kingdom. They are the warm-blooded marine
        mammals which weighs between 130 to 150 tons and can be up to 30 to 35 meters long.
        <br>
        <b>Fact –NO – 4</b><br>

        Believe it or not. Like humans, many other species have red coloured blood, there are few animal species which
        have varying blood colours.<br>

        <b>Fact –NO -5</b><br>

        Kodiak bear is the largest, endangered, terrestrial omnivorous mammals in the world. They are the unique
        subspecies of brown bear which can grow up to 10 feet tall and weigh up to 1,500 lbs.
        <br>
        <b>Fact –NO -6</b><br>

        According to the animal behaviourists, cats don’t meow to communicate with each other. It is a technique they
        use for getting human’s attention and are the most popular pet in the world.
        <br>
        <b> Fact –NO -7</b><br>

        Elephants are the largest, terrestrial herbivorous mammals in the world. They can grow up to 9 feet tall and
        their weight ranges between4,000 -7,500kg. An average lifespan of an elephant is around 50 to 70 years.
        <br>
        <b>Fact –NO -8</b><br>

        Lions, tigers, jaguars, cheetah, and leopards, are among the five big cats of the animal kingdom and are members
        of the genus Panthera. They are the most ferocious, endangered, carnivores, terrestrial and largest wild cats in
        the world of animals.
        <br>
        <b> Fact –NO -9</b><br>

        Tigers are solitary hunters, and generally search for food alone at night. Both lion and tigers are called as
        the top predator and lies at the top of the food web. These carnivores plays key role in maintaining the
        population of other animals in an ecological community.
        <br>
        <b> Fact –NO -10</b><br>

        All members of the cat family have excellent vision, good sense of hearing that facilitate detection of prey at
        night and are good swimmers and excellent fishermen.

        <br>
    </p>
    <h2>Healthy Pets, Healthy People</h2>
    <h3>About Pets & People</h3>
    <p>
        There are many health benefits of owning a pet. They can increase opportunities to exercise, get outside, and
        socialize. Regular walking or playing with pets can decrease blood pressure, cholesterol levels, and
        triglyceride levels. Pets can help manage loneliness and depression by giving us companionship. Most households
        in the United States have at least one pet.<br>

        Studies have shown that the bond between people and their pets can increase fitness, lower stress, and bring
        happiness to their owners. Some of the health benefits of having a pet include:<br>
    </p>
    <ul>
        <li>Decreased blood pressure </li>
        <li>Decreased cholesterol levels</li>
        <li>Decreased triglyceride levels </li>
        <li>Decreased feelings of loneliness</li>
        <li>Increased opportunities for exercise and outdoor activities </li>
        <li>Increased opportunities for socialization </li>
    </ul>
    <img src="../../../assets/Images/people_animals.jpg">
    <h3>Pick the Rigth Pet</h3>
    <p>
        Before adopting a new pet, make sure that it is the right one for you and your family. Do some research
        beforehand about the specific needs of the animal. Ask yourself these questions before getting a pet:
    </p>
    <ul>
      <li>  How long will this animal live?</li>
      <li>   What does the pet eat?</li>
      <li>   How much exercise does the pet need?</li>
      <li>   How large will it become?</li>
      <li>   How much will it cost for veterinary care?</li>
      <li>   Do I have enough time to properly care for and clean up after the pet?</li>
      <li>   What type of habitat does this pet need to be healthy?</li>
      <li>   What type of exercise does this pet need?</li>
      <li>   Are pets allowed in my house, apartment, or condominium?</li>
      <li> Are there young children, older people, or people with weak immune systems who will care for or be around the
        pet?</li>
    </ul>
    <p>
        Children 5 years of age and younger, people with weakened immune systems, and people 65 years of age and older
        are more likely to get diseases spread between animals and people (also known as zoonotic diseases). Pregnant
        women are also at a higher risk for certain animal-related diseases. Before getting a new pet, keep the
        following in mind:

        Households with children 5 years of age and younger should not have pet reptiles (turtles, lizards, snakes),
        amphibians (frogs, toads), or backyard poultry because of the risk of serious illness from harmful germs spread
        between these animals and young children.<br>
        People with weakened immune systems should take extra precautions when choosing and handling pets. Talk to your
        veterinarian for help picking the best pet.<br>
        Pregnant women should avoid adopting a new cat or handling stray cats, especially kittens. Cats can carry a
        parasite that causes toxoplasmosis—a disease that can cause birth defects. If you are pregnant, you do not need
        to give up your current cat, but you should avoid changing cat litter.<br>
        Pregnant women should avoid contact with pet rodents to prevent exposure to lymphocytic choriomeningitis virus,
        which can cause birth defects. If you’re pregnant and have a pet rodent, avoid direct contact and have someone
        else clean its habitat.<br>
    </p>

</div>